
/* Step-2.1 One option to align this container to the center would be to give it a margin-left: auto; and margin-right: auto; */

.profile-image-container {
    height: 290px;
    width: 80%;
    margin-top: 39.406px;
    margin-bottom: 39.406px;
    margin-left: auto;
    margin-right: auto;
    background: #96F0F2;
}

/* Step-2.2  One option to align this container to the center would be to give it a margin-left: auto; and margin-right: auto; */

.profile-links-container {
  height: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #12F3F7;
}

/* Step-2.3  You can either use float left or position absolute to get this element to in the desired location */

.logo-container {
    margin-top: 10px;
    margin-left: 56.406px;
    height: 70%;
    width: 20.2%;
    float: left;
    background: #4F4949;
}


/* Step-2.4 You can either use float left or position absolute to get this element to in the desired location*/

.menu-container {
    margin-top: 10px;
    margin-right: 36px;
    height: 70%;
    width: 3%;
    float: right;
    background: #4F4949;
}
